body{
  margin: 0;
  padding: 0;
  background: #542b91;
}

img{
  position: absolute;
  top: 50%;
  left:50%;
  transform:translate(-50%,-50%);
  padding: 10px;
  cursor: pointer;
      width: 100px;
    height: 100px;
    margin: auto;
}

img:hover{
  opacity: 0.6;
}
